<style>
  a { cursor: pointer }
</style>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        
        <h3>ALTA DEL ZAPATO</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label >codigo</label>
            <input type="text" formControlName="codMod" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.codMod.errors }" />
            <div *ngIf="submitted && f.codMod.errors" class="invalid-feedback">
              <div *ngIf="f.codMod.errors.required">modelo es requerido</div>
            </div>
          </div>

          <div class="form-group">
            <label >nombre</label>
            <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
              <div *ngIf="f.nombre.errors.required">nombre es obligatorio</div>
            </div>
          </div>

          <div class="form-group">
            <label >fec ing</label>
            <input type="text" formControlName="fecing" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fecing.errors }" />
            <div *ngIf="submitted && f.fecing.errors" class="invalid-feedback">
              <div *ngIf="f.fecing.errors.required">fecha es obligatorio</div>
            </div>
          </div>

          <div class="form-group">
            <label >Local de venta</label>
            <input type="text" formControlName="local" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.local.errors }" />
            <div *ngIf="submitted && f.local.errors" class="invalid-feedback">
              <div *ngIf="f.local.errors.required">fecha es obligatorio</div>
            </div>
          </div>

          <div class="form-group">
            <label >Precio</label>
            <input type="text" formControlName="precio" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.precio.errors }" />
            <div *ngIf="submitted && f.precio.errors" class="invalid-feedback">
              <div *ngIf="f.precio.errors.required">Precio es obligatorio</div>
            </div>
          </div>

          <div class="form-group">
            <label >genero</label>
            <input type="text" formControlName="genero" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.genero.errors }" />
            <div *ngIf="submitted && f.genero.errors" class="invalid-feedback">
              <div *ngIf="f.genero.errors.required">Genero es obligatorio</div>
            </div>
          </div>



          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-listaweb></app-listaweb>
